
    <section class="relative">
        <div class="bg-cover bg-center h-[600px] relative" style="background-image: url('https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?q=80&w=1920&auto=format&fit=crop')">
            <div class="absolute inset-0 bg-black opacity-40"></div>
            <div class="container mx-auto relative z-10 flex items-center justify-center h-full">
                <div class="text-center text-white">
                
            		
                    <h1 class="text-5xl font-bold mb-4">Déstockage Tentes et Bivouacs </h1>
                    <br>
                    <a href="{{ path('app_shop') }}" class="bg-white text-black px-6 py-3 rounded-md hover:bg-orange-600 transition">
                        Découvrez 
                    </a>
                </div>
            </div>
        </div>
    </section>
