<div class="relative">
  <select  
    id="pays" 
    name="pays"
    class="w-full border border-gray-300 rounded p-3 appearance-none bg-white"
    required
  >
    <option value="">Sélectionner un pays</option>
    <!-- Europe -->
    <option value="France">France</option>
    <option value="Allemagne">Allemagne</option>
    <option value="Espagne">Espagne</option>
    <option value="Italie">Italie</option>
    <option value="Royaume-Uni">Royaume-Uni</option>
    <option value="Portugal">Portugal</option>
    <option value="Pays-Bas">Pays-Bas</option>
    <option value="Belgique">Belgique</option>
    <option value="Suisse">Suisse</option>
    <option value="Autriche">Autriche</option>
    <option value="Suède">Suède</option>
    <option value="Norvège">Norvège</option>
    <option value="Danemark">Danemark</option>
    <option value="Finlande">Finlande</option>
    <option value="Pologne">Pologne</option>
    <option value="Grèce">Grèce</option>
    <option value="Hongrie">Hongrie</option>
    <option value="République tchèque">République tchèque</option>
    <option value="Slovaquie">Slovaquie</option>
    <option value="Roumanie">Roumanie</option>
    <option value="Bulgarie">Bulgarie</option>
    <option value="Croatie">Croatie</option>
    <option value="Slovénie">Slovénie</option>
    <option value="Estonie">Estonie</option>
    <option value="Lettonie">Lettonie</option>
    <option value="Lituanie">Lituanie</option>
    <option value="Islande">Islande</option>
    <option value="Irlande">Irlande</option>
    <option value="Serbie">Serbie</option>
    <option value="Monténégro">Monténégro</option>
    <option value="Bosnie-Herzégovine">Bosnie-Herzégovine</option>
    <option value="Macédoine du Nord">Macédoine du Nord</option>
    <option value="Ukraine">Ukraine</option>
    <option value="Moldavie">Moldavie</option>
    <option value="Bélarus">Bélarus</option>
    <option value="Russie">Russie</option>
    
    <!-- Reste du monde -->
    <option value="Chine">Chine</option>
    <option value="Japon">Japon</option>
    <option value="Inde">Inde</option>
    <option value="Corée du Sud">Corée du Sud</option>
    <option value="Indonésie">Indonésie</option>
    <option value="Arabie Saoudite">Arabie Saoudite</option>
    <option value="Turquie">Turquie</option>
    <option value="Thaïlande">Thaïlande</option>
    <option value="Pakistan">Pakistan</option>
    <option value="Philippines">Philippines</option>
    <option value="Canada">Canada</option>
    <option value="Etats-Unis">Etats-Unis</option>
    <option value="Mexique">Mexique</option>
    <option value="Brésil">Brésil</option>
    <option value="Argentine">Argentine</option>
    <option value="Colombie">Colombie</option>
    <option value="Chili">Chili</option>
    <option value="Pérou">Pérou</option>
    <option value="Venezuela">Venezuela</option>
    <option value="Maroc">Maroc</option>
    <option value="Algérie">Algérie</option>
    <option value="Tunisie">Tunisie</option>
    <option value="Libye">Libye</option>
    <option value="Egypte">Egypte</option>
    <option value="Afrique du Sud">Afrique du Sud</option>
    <option value="Nigeria">Nigeria</option>
    <option value="Kenya">Kenya</option>
    <option value="Ethiopie">Ethiopie</option>
    <option value="Australie">Australie</option>
    <option value="Nouvelle-Zélande">Nouvelle-Zélande</option>
  </select>
  <div id="paysError" class="text-red-500 text-sm hidden">Veuillez sélectionner un pays.</div>
  <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
    <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
      <path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </div>
</div>
