<section class="relative flex container mx-auto px-4 py-8">
        <div class="w-1/2 bg-[#F2EDE4] flex items-center justify-center px-16 py-12">
            <div class="space-y-6 max-w-md">
                <h2 class="text-3xl font-bold text-gray-800">Passions et divertissements</h2>
                <p class="text-gray-600 text-base">
                  Nos meilleurs drones et jumelles.
                </p>
                <div>
                    <a href="{{ path('app_sports') }}" class="inline-flex items-center text-gray-800 font-semibold group">
                        Voir plus
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-1/2 bg-[#F2EDE4]">
            <img 
                src="images/illu/oo.avif" 
                alt="Drone" 
                class="w-full h-full p-12 object-cover"
            />
        </div>
    </section>
