
{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
{% include "_partials/nav.html.twig" %}

<div class="container mx-auto px-4 py-6">
<span> 
Tentemania: Vivre l’Aventure au Sommet C’est sous les étoiles et bercés par le souffle des montagnes que nous avons lancé Tentemania. Portés par notre amour de l’exploration et notre envie de vivre l’aventure au plus près de la nature, nous avons créé un espace pour ceux qui, comme nous, rêvent de nuits suspendues entre ciel et terre.
 <br>
Notre Mission Chez Tentemania, notre but est simple : offrir aux aventuriers de tous horizons la possibilité de transformer chaque destination en un refuge confortable. Nous sommes spécialisés dans les tentes de toit, les auvents et les équipements outdoor robustes, conçus pour ceux qui voient la route comme une invitation à s’évader. Nos tentes de toit, pratiques et durables, permettent à chacun de s’endormir en toute sécurité où que l’on se trouve, en hauteur, avec une vue imprenable. Nous proposons également une gamme d’accessoires pour aménager votre véhicule et faire de votre séjour en pleine nature une expérience aussi confortable qu’inoubliable.
 <br>
Nos Valeurs Nous croyons que chaque nuit passée en pleine nature est une chance de se reconnecter à soi-même et au monde qui nous entoure. Nos produits sont soigneusement choisis et testés pour garantir confort, sécurité et facilité d’utilisation, même dans les environnements les plus exigeants. Notre engagement va au-delà de la simple vente de matériel. Nous voulons aider nos clients à se sentir chez eux, même loin de tout, en leur offrant des équipements fiables et de qualité. Notre équipe de passionnés est à l’écoute des besoins de chaque voyageur, pour les accompagner dans leurs escapades et pour que chaque moment passé sous les étoiles devienne un souvenir inoubliable. Que vous partiez pour un week-end ou pour un voyage prolongé, Tentemania est là pour vous inspirer, vous équiper, et vous permettre de vivre l’aventure en toute liberté.
 <br> <br> <br>
Tente Mania

RCS Tentemania.com : Le Magasin en Ligne de SEVINCAMP SEVINCAMP, une société à responsabilité limitée immatriculée sous le SIREN 491662722, est active depuis 16 ans. Basée à Minzac (24610), cette entreprise est spécialisée dans la gestion de terrains de camping et de parcs pour caravanes ou véhicules de loisirs. En 2014, SEVINCAMP a réalisé un chiffre d’affaires de 35 400 €. Le total du bilan a connu une augmentation significative de 91,95 % entre 2013 et 2014. Selon Societe.com, l'entreprise compte un établissement et un mandataire depuis sa création. Le dernier événement notable enregistré remonte au 9 octobre 2006. Le gérant actuel de SEVINCAMP est Michel Senecal.
Informations légales :
- RCS : Bergerac B 491662722
- Siret : 49166272200017
- TVA Intracommunautaire : FR67491662722
- Siège Social : LD Mougnac, 24610 Minzac

</span>
</div>
{% include "_partials/footer.html.twig" %}

{% endblock %}

